@import "../variables.scss";
.sidebar {
  width: 100%;
  min-height: 90vh;
}
.sidebar__tab {
  min-height: 90vh;
}
.sidebar > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.sidebar > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
  margin: 0px;
}

.sidebar > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.sidebar > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
