$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1600px;
$xxl: 1800px;

$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 32px;
$size-6: 48px;
$size-7: 64px;
$size-8: 96px;
$size-9: 128px;
$size-10: 192px;
$size-11: 256px;
$size-12: 384px;
$size-13: 512px;
$size-14: 640px;
$size-15: 768px;

$bodyBackground: #f5f8fb;
$darkColor-1: #11103e;
$darkColor-4: #565678;
$mainBlue: #288ee8;
$mainBlueaprimary: #218be9;
